.start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start h1 {
  font-size: 5rem;
  font-weight: 700;
}

.start p {
  font-size: 1.5rem;
  color: #888;
}

.start:before {
  content: url("../../assets/blobs-2.png");
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.start:after {
  content: url("../../assets/blobs1.png");
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media screen and (min-width: 1000px) {
  .start h1 {
    font-size: 6rem;
  }

  .start p {
    font-size: 2rem;
  }

  .start-btn {
    font-size: 1.6rem;
  }
}
