:root {
  font-family: Karla, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #293264;
  background: #f6f7fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root:before {
  content: url("./assets/blob2.png");
  position: absolute;
  bottom: -200px;
  left: -100px;
  z-index: -1;
}

#root:after {
  content: url("./assets/blob1.png");
  position: absolute;
  top: -300px;
  right: -200px;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
  margin-top: 1.5em;
}

.btn {
  margin-top: 2em;
  padding: 1em 5em;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  background-color: #4d5b9e;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 300ms;
}
